@page "/counter"
@using NextGenSoftware.Holochain.HoloNET.Client;

<PageTitle>HoloNET</PageTitle>

<h1>HoloNET</h1>


@code {
    HoloNETClient holoNETClient = new HoloNETClient();

    //holoNETClient.
}
